
<mat-toolbar color="primary">
    <span>Shiftz Register Page</span>
</mat-toolbar>
<form action="register" method="POST">
    <div id="form-div" fxLayout="row" fxLayoutAlign="center center" class="login-main">
        <mat-card>
            <mat-card-header>
                  <mat-card-title>Please Register below</mat-card-title>
            </mat-card-header>
            <form action="register" method="POST">
                <mat-card-content fxLayout="column">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Company (disabled)" disabled value="Freelancer">
                    </mat-form-field>
                    <table cellspacing="0">
                        <tr>
                            <td class="half">
                                <mat-form-field class="full">
                                    <input matInput placeholder="First Name" name="userFirstName" [(ngModel)]="userFirstName">
                                </mat-form-field>
                            </td>
                            <td class="half">
                                <mat-form-field class="full">
                                    <input matInput placeholder="Last Name" name="userLastName" [(ngModel)]="userLastName">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0">
                        <tr>
                            <td class="half">
                                <mat-form-field class="full">
                                    <input type="email" matInput placeholder="Email" name="userEmail" [(ngModel)]="userEmail">
                                </mat-form-field>
                            </td>
                            <td class="half">
                                <mat-form-field class="full">
                                    <input type="password" matInput placeholder="Password" name="userPassword" [(ngModel)]="userPassword">
                                </mat-form-field>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0">
                        <tr>
                            <td class="half">
                                <mat-form-field class="full">
                                    <input type="tel" matInput placeholder="Telephone" name="userTelephone" [(ngModel)]="userTelephone">
                                </mat-form-field>
                            </td>
                            <td class="half">
                                <mat-form-field class="full">
                                    <mat-select placeholder="Access Level" [(ngModel)]="selectedValue" name="userAccessLevel" [(ngModel)]="userAccessLevel">
                                        <mat-option value="Freelancer">Freelancer</mat-option>
                                        <mat-option value="Enterprise">Enterprise</mat-option>
                                    </mat-select>
                                    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
                                </mat-form-field>
                            </td>
                            <td class="third" *ngIf="selectedValue == 'Enterprise'">
                                <mat-form-field class="company-code" *ngFor="let container of containers">
                                    <input type="text" matInput placeholder="Company Code" name="userCode" [(ngModel)]="userCode">
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div class="fab-container">
                                    <button mat-fab class="fab-toggler" color="primary" (click)="add()"
                                        *ngIf="selectedValue == 'Enterprise'" name="brianSaidToNameThis">
                                        <i class="material-icons">add</i>
                                    </button>
                                    <button mat-fab class="fab-toggler" color="primary" (click)="remove()"
                                        *ngIf="selectedValue == 'Enterprise'" name="brianSaidToNameThis">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <mat-form-field >
                            <mat-select [(value)]="selected" [(ngModel)]="workType" placeholder="Work type"name="workType">
                              <mat-option>None</mat-option>
                              <mat-option value="FRONTHOUSE">Front House</mat-option>
                              <mat-option value="FLOOR">Floor/Wait</mat-option>
                              <mat-option value="BACKHOUSE">Back House</mat-option>
                              <mat-option value="HOST">Host</mat-option>
                              <mat-option value="MAITRED">Maitre'd</mat-option>
                              <mat-option value="WAITER">Waiter</mat-option>
                              <mat-option value="BARTENDER">Bartender</mat-option>
                              <mat-option value="BUSSER">Busser</mat-option>
                              <mat-option value="BARBACK">Barback</mat-option>
                              <mat-option value="SOMMELIER">Sommelier</mat-option>
                              <mat-option value="HEADCHEF">Head Chef</mat-option>
                              <mat-option value="PREPCHEF">Prep Chef</mat-option>
                              <mat-option value="LINECHEF">Line Chef</mat-option>
                            </mat-select>
                          </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Biography</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5" name="userBiography" [(ngModel)]="userBiography"></textarea>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button routerLink="/login" type="button" mat-raised-button color="primary">Login</button>
                    <button (click) = "register($event)" type="button" mat-raised-button color="primary">Submit</button>
                    <button routerLink="/register-company" type="button" mat-raised-button color="primary">Register as
                        Company</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</form>

<!--
<div id="outer-container">
    <br>

    <body>
        <div class="container">
            <div class="form">
                <h1 class="title">{{title}}</h1>
                <form name="login" action="login" method="POST" class="login-form">
                    <h2 style="color:red; font-size: 16px;">{{response}}</h2>

                    <label class="label" od="label-email" for="email">Email: </label>
                    <input name="email" id="email" type="text" class="form-control" [(ngModel)]="email"
                        placeholder="email">

                    <br>

                    <label class="label" id="label-password" for="password">Password:</label>
                    <input name="password" id="password" type="password" class="form-control" [(ngModel)]="password"
                        placeholder="password" />
                    <br>

                    <button name="backtologin" id="backtologin" type="button" class="btn btn-lg"
                        (click)="onBack()">{{ backtologin | uppercase }}
                    </button>
                    <button name="register" id="register" type="button" class="btn btn-lg"
                        (click)="onRegister()">{{ register | uppercase }}
                    </button>
                </form>
            </div>
        </div>
    </body>
</div>
-->