#outer-container {
    background-image: url('../../assets/Hitchhiking-in-a-Suit1.jpg');
    background-size: cover;
    min-height: 87vh;
  }

  .full {
    width: 100%;
  }
  
  .half {
    width: 50%;
  }