<app-navbar></app-navbar>
<div id="outer-container">
  <mat-card class="half">
    <mat-card-title class="full">Welcome to Your Profile Page</mat-card-title>
    <mat-card-content *ngIf="currentUser | async as thisUser">
      <section>
        <mat-checkbox
          *ngIf="thisUser.role === 'DRIVER'; else rider"
          [(ngModel)]="active"
          (ngModelChange)="updateDriverStatus(thisUser)"
          >Active Driver?</mat-checkbox
        >
        <ng-template #rider>
          <h3>
            We are but passengers here.
          </h3>
        </ng-template>
      </section>
    </mat-card-content>
  </mat-card>
</div>
<app-footer></app-footer>
