<div id="outer-container">
  <br />
  <body>
    <div class="container">
      <div class="form">
        <h1 class="title">{{ title }}</h1>
        <form name="login" action="login" method="POST" class="login-form">
          <table cellspacing="0">
            <tr>
              <td class="half">
                <mat-form-field class="full">
                  <input
                    id="email"
                    type="email"
                    matInput
                    placeholder="Email"
                    name="userEmail"
                    [(ngModel)]="userEmail"
                  />
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td class="half">
                <mat-form-field class="full">
                  <input
                    id="password"
                    type="password"
                    matInput
                    placeholder="Password"
                    name="userPassword"
                    [(ngModel)]="userPassword"
                  />
                </mat-form-field>
              </td>
            </tr>
          </table>

          <input
            name="login"
            id="login"
            type="submit"
            value="LOGIN"
            class="btn"
            (click)="onLogin()"
          />

          <button
            name="register"
            id="register"
            type="button"
            class="btn"
            (click)="onRegister()"
          >
            REGISTER
          </button>
        </form>
      </div>
    </div>
  </body>
</div>
