@font-face {
    font-family: futura-pt-bold-oblique;
    src: url("../assets/Futura-PT-Complete/ParaType-Futura-PT-Bold-Oblique.ttf");
}
@font-face {
    font-family: futura-pt-bold;
    src: url("../assets/Futura-PT-Complete/ParaType-Futura-PT-Bold.ttf");
}