/*
 * Import Revature font
*/
/* Regular font*/
@font-face {
  font-family: Futura-PT;
  src: url('../../assets/Futura-PT-Complete/ParaType-Futura-PT-Book.ttf')
    format('truetype');
}
/* Bold font*/
@font-face {
  font-family: Futura-PT-Bold;
  src: url('../../assets/Futura-PT-Complete/ParaType-Futura-PT-Bold.ttf')
    format('truetype');
}
/* Italic font */
@font-face {
  font-family: Futura-PT-Oblique;
  src: url('../../assets/Futura-PT-Complete/ParaType-Futura-PT-Book-Oblique.ttf')
    format('truetype');
}
/* Bold Italic font */
@font-face {
  font-family: Futura-PT-Bold-Oblique;
  src: url('../../assets/Futura-PT-Complete/ParaType-Futura-PT-Bold-Oblique.ttf')
    format('truetype');
}

a {
  text-decoration: none;
  color: black;
}

mat-toolbar {
  background-color: white;
}


ul {
  margin-top: 40px;
}

li{
  display: inline;
  margin-right: 100px;
  vertical-align: top;
}

li>a:hover {
  border-bottom: 2px solid #f26925;
}

.nav-right {
  margin-left: auto;
  margin-right: 200px;
}

.logo {
  margin-left: 200px;
}

.down-arrow {
  margin-left:10px;
}

.font-bold {
  font-family: "Futura-PT-Bold";
}
.font-bold-italic {
  font-family: "Futura-PT-Bold-Oblique";
}

