<!-- Displays an NGMaterial table using the list of user -->
<table mat-table [dataSource]="allUsers | async" class="mat-elevation-z8">
  <!-- Displays the user's name -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user">
      {{ user.firstName }} {{ user.lastName }}
    </td>
  </ng-container>

  <!-- Displays the user's email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let user">{{ user.email }}</td>
  </ng-container>

  <!-- Displays the user's phone number -->
  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef>Phone Number</th>
    <td mat-cell *matCellDef="let user">
      {{ user.phoneNumber }}
    </td>
  </ng-container>

  <!-- Displays the name of the user's housing location -->
  <ng-container matColumnDef="houseLocationName">
    <th mat-header-cell *matHeaderCellDef>House Location</th>
    <td mat-cell *matCellDef="let user">
      {{ user.houseLocation.housingLocationName }}
    </td>
  </ng-container>

  <!-- Displays the user's role -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef>Role</th>
    <td mat-cell *matCellDef="let user">
      {{ user.role }}
    </td>
  </ng-container>

  <!-- Displays the user's accountStatus -->
  <ng-container matColumnDef="accountStatus">
    <th mat-header-cell *matHeaderCellDef>Account Status</th>
    <td mat-cell *matCellDef="let user">
      <mat-checkbox
        (change)="updateUser(user)"
        [(ngModel)]="user.accountStatus"
      ></mat-checkbox>
    </td>
  </ng-container>

  <!-- Tells mat-table which columns to display from the variable displayedColumns -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
